.container {
    display: grid;
    grid-template-columns: 200px 200px 200px;
    height: 100vh;
    align-content: center;
    justify-content: center;
    background-color:lightsalmon;
    grid-template-areas: 
    "titulo titulo titulo"
    "foto usuario usuario"
    "foto enteruser enteruser"
    "foto pass pass"
    "foto enterpass enterpass"
    "ingresar ingresar ingresar"
    "crear crear crear";
}
body {
    text-align: center;
    background-color:rgb(153, 46, 107);
    
}

.it {
    background-color:lightgreen;
}
.titulo {
    grid-area: titulo;
}
.usuario {
    grid-area: usuario;
}
.pass{
    grid-area: pass;
}
.crear {
    grid-area: crear;
}
.ingresar {
    padding-top: 20px;
    grid-area: ingresar;
}
.foto {
    grid-area: foto;
}
.enteruser {
    grid-area: enteruser;
}
.enterpass {
    grid-area: enterpass;
}
.in {
    margin: 10px;
    width: 300px;
    height: 30px;
}
.reg {
    margin: 10px;
    width: 300px;
    height: 30px;
}

.logo {
    width: 150px;
    height: 150px;
}